@font-face {
    font-family: 'Montserrat'; /*a name to be used later*/
    src: url('Montserrat-Thin.otf'); /*URL to font*/
}

body{
background-color: #26241B;
color: white;
font-family: Montserrat;
}

.text-link {
  position: relative;
  text-decoration: inherit;
  color: inherit;
}

.text-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;

  background: linear-gradient(
      to right,
      rgba(252, 206, 66, 1),
      rgba(253, 128, 168, 1)
    ),
    linear-gradient(
      to right,
      rgba(252, 206, 66, 1),
      rgba(253, 128, 168, 1));

  background-size: 100% 3px, 0 3px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.text-link:hover{
color:inherit;
text-decoration: inherit;
}

.text-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  background-size: 0 3px, 100% 3px;
}

.image-links {
    width: 30px;
    height: 30px;
    top:-50px;
    left:-35px;
    z-index:999;
    margin-left: 30px;
    padding-right: 0px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.gmail{
    background: url("../Images/Gmail.png") center no-repeat;
    background-size: contain;
}
.gmail:hover{
    background: url("../Images/GmailHover.png") center no-repeat;
    background-size: contain;
    transform: scale(1.2);
}

.github{
    background: url("../Images/Github.png") center no-repeat;
    background-size: contain;
}
.github:hover{
    background: url("../Images/GithubHover.png") center no-repeat;
    background-size: contain;
    transform: scale(1.2);
}

.linkedin{
    background: url("../Images/Linkedin.png") center no-repeat;
    background-size: contain;
}
.linkedin:hover{
    background: url("../Images/LinkedinHover.png") center no-repeat;
    background-size: contain;
    transform: scale(1.2);
}

.home{
    background: url("../Images/Home.png") center no-repeat;
    background-size: contain;
}

.home:hover{
    background: url("../Images/HomeHover.png") center no-repeat;
    background-size: contain;
    transform: scale(1.2);
}

.full-screen-container{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: block;
    position: fixed;
    overflow-y: auto;
}

.main{
    width: 80%;
    justify-content: center;
    display: flex;
    max-height: 100vh;
    height: 100vh;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.corner-borders {
    background: url("../Images/topleftcorner.svg") no-repeat;
    background-size: 50% 50%;
}

.main-inner{
    position: relative;
    display: flex;
    width: 100vw;
    padding: 50px

}

.content-container{
    z-index: 2;
    border-radius: 5px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.vl{
    border-left: 4px solid;
    border-image: linear-gradient(#FD80A8, #FCCE42) 1;
}

.hl{
    border-bottom: 2px solid;
    border-image: linear-gradient(to left, #FD80A8, #FCCE42) 1;
}

.github-links{
    color: inherit;
    text-decoration: inherit;
}
.github-links:hover{
    color: inherit;
    font-style: italic;
    text-decoration: inherit;
}
